
  <div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{myData.title}}</h5>
      <h6 class="card-price text-center">{{myData.price}}<span class="period">{{myData.duration}}</span></h6>
      <hr>
      <ul class="fa-ul" >
        <div  *ngFor="let feat of myData.features" >
          <li [ngClass]="{'text-muted':feat.enable==false}" [ngStyle]="{'font-weight' : feat.bold ? 'bold' : '400'}">
            <span class="fa-li" ><i class="fas fa-check"></i></span><p>{{feat.feature}}</p>
          </li>
          </div>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>
        